[submodule "SIT152/sorting-algorithms-analysis"]
	path = SIT152/sorting-algorithms-analysis
	url = git@github.com:yafeunteun/sorting-algorithms-analysis.git
[submodule "INF111/tb-inf111"]
	path = INF111/tb-inf111
	url = git@github.com:yafeunteun/tb-inf111.git
[submodule "SIT213"]
	path = SIT213
	url = git@github.com:maxmouchet/SIT213.git
